

.articlefirst_div{
  background: linear-gradient(110deg,#FFFFFF 52%,#FEC130 52%) ;
  float:left;
  width: 100%;
  height: auto;

   
}
.first_div .nav_bar li{
  display: inline;
  float: right;
  padding: 56px;
}
.nav_bar li img{
  height:2em;
  width: 2em;
}
.nav_bar li{
  display: inline;
  padding: 80px;

}
.first_div.burger_advert{
  display: flex;
  justify-content: space-around;
}
.first_div.burger_advert.b_text{
  display: block;
  font-size: x-large;
}
.burger_advert.burger_img img{
  display: block;
  height: 600px; width: 400px;
  padding-right: 250px;
}

 .span{
   color: yellow;
 }
 .column10{
   background-color: yellow;
 }
 li{
   list-style-type: none;
 }

 .cart{
   width: 60px;
   height: 30px;
  
 }
 .imageSize{
   width: 50%;
   margin: auto;
 }
 .text{
   text-align: center;
 }
 .section6{
   display: flex;
   flex-direction: row;
   
   padding: 2rem;
   margin-bottom: 5rem;
   justify-content:space-evenly;
   background-color: #F6B400;
   min-width: 100vh !important;
   }
 .section2{
 display: flex;
 flex-direction: row;
 margin-top: 30%;
 background-color: whitesmoke;


 }
 .section3{
   display: flex;
   flex-direction: row;
   min-height: 20vh;
   padding: 2rem;
   margin-bottom: 7rem;
   justify-content: space-evenly;
   }
   .section4{
    display: flex;
    flex-direction: row;
    min-height: 20vh;
    
    padding: 2rem;
    margin-bottom: 7rem;
    justify-content: space-evenly;
    }
   .grid{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
   }
   .zBorder{
     width: 90px;
     background: #E1EBE6;
 
     border-radius: 4px;
   }
   input{
     width: 100%;
     margin-top: 1rem;
     border-radius: 3px;
     padding: 0.6rem;
     border: 0.6px solid grey;
   }
 .column3{
    align-items: center;
    padding: 2rem;
    border: 0.1rem solid whitesmoke;
    border-radius: 3rem;
    background-color: white;
    text-align: center;
    margin:2%;
    margin-top: 1%;
  }
 
 .column2{
   align-items: center;
   padding: 2rem;
   border: 0.1rem solid whitesmoke;
   border-radius: 3rem;
   background-color: white;
   text-align: center;
   margin:2%;
 }
 .column1{
  align-items: center;
  padding: 2rem;
  border: 0.1rem solid grey;
  border-radius: 3rem;
  background-color: white;
  text-align: center;
  margin:4%;
}
.big{
  align-items: center;
  padding: 4rem;
  border: 0.1rem solid grey;
  border-radius: 3rem;
  background-color: white;
  text-align: center;
  margin:2%;
  border-radius: 15%;
 }
 .container{
   max-width: 1200px;
  margin: auto;
 }
    .p {
       align-content:center;
   } 
 
 .span{
   color: orange;
 }
 
 
 img{
   max-height: 200px;
   max-width: 200px;
   object-fit: contain;
 }
 
 .section1{
   display: flex;
   flex-direction: row;
   height: 30vh;
   padding: 2rem;
   justify-content: space-between;
   }
 .column10{
     flex: 2 1 auto;
   }
   .p {
    align-content:center;
} 
.li{
 display: inline;
 list-style: none;
padding: 5px;
}
span{
color: yellow;
}
.li
{
display: inline;
list-style-type: none;
}
img{
max-height: 200px;
max-width: 200px;
object-fit: contain;
}

.section1{
display: flex;
flex-direction: row;
height: 30vh;
padding: 2rem;
justify-content: space-between;
}
.column10{
  flex: 2 1 auto;
}
.column7{
  display: flex;
}
footer{
  display: flex;
}
footer ul{
  padding-left: 200px;
  padding-right: 500px;
}
.section12{
  display:flex;
}
.section12 .png{
  padding-right:500px;
  padding-left:200px;
  margin-top: 100px;
}

