.header{
    width: 20px;
    font-size: 5rem;
    align-content: center;
     display: inline;
    
}
     

 .span{
   color: yellow;
 }
 .column10{
   background-color: yellow;
 }
 .ul{
 display: inline;
 list-style-type: none;
 
 }
 ul{
   list-style-type: none;
 }
 .li{
   padding: 2rem 5rem;
   display:inline;
 }
 .cart{
   width: 60px;
   height: 30px;
  
 }
 .imageSize{
   width: 50%;
   margin: auto;
 }
 .text{
   text-align: center;
 }
 .section6{
   display: flex;
   flex-direction: row;
   min-height: 20vh;
   padding: 2rem;
   margin-bottom: 7rem;
   justify-content:space-evenly;
   background-color: #F6B400;
   min-width: 100vh !important;
   }
 .section2{
 display: flex;
 flex-direction: row;
 min-height: 20vh;
 padding: 2rem;
 margin-bottom: 7rem;
 justify-content: space-evenly;
 }
 .section3{
   display: flex;
   flex-direction: row;
   min-height: 20vh;
   padding: 2rem;
   margin-bottom: 7rem;
   justify-content: space-evenly;
   }
   .grid{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
   }
   .zBorder{
     width: 90px;
     background: #E1EBE6;
 
     border-radius: 4px;
   }
   input{
     width: 100%;
     margin-top: 1rem;
     border-radius: 3px;
     padding: 0.6rem;
     border: 0.6px solid grey;
   }
 .column3{
   align-items: center;
   padding: 2rem;
   border: 0.1rem solid grey;
   border-radius: 3rem;
   background-color: white;
   text-align: center;
 }
 .column2{
   align-items: center;
   padding: 2rem;
   border: 0.1rem solid grey;
   border-radius: 3rem;
   background-color: white;
   text-align: center;
 }
 .column1{
   align-items: center;
   padding: 2rem;
   border: 0.1rem solid grey;
   border-radius: 3rem;
   background-color: white;
   text-align: center;
 }
 .container{
   max-width: 1200px;
  margin: auto;
 }
    .p {
       align-content:center;
   } 
 .li{
    display: inline;
    list-style: none;
   padding: 5px;
 }
 span{
   color: yellow;
 }
 .li
 {
   display: inline;
   list-style-type: none;
 }
 img{
   max-height: 200px;
   max-width: 200px;
   object-fit: contain;
 }
 
 .section1{
   display: flex;
   flex-direction: row;
   height: 30vh;
   padding: 2rem;
   justify-content: space-between;
   }
 .column10{
     flex: 2 1 auto;
   }
 
     
   